@font-face {
	font-family: 'ReformaGroteskBoldC';
	src: url('../fonts/reformagroteskboldc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/reformagroteskboldc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/reformagroteskboldc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/reformagroteskboldc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/reformagroteskboldc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/reformagroteskboldc.svg#reformagroteskboldc') format('svg'); /* Chrome < 4, Legacy iOS */
}